.thumbnail {
	padding: 0;
}
.thumbnail img {
	width: 100%;
	max-height: 570px;
}
.img-thumbnail {
	padding: 0;
}
.img-thumbnail img {
	height: 300px;
	width: 100%;
}
.thumbnail .caption {
	padding: 9px;
}
.mar {
	margin-top: 80px;
}
form {
	width: 30%;
	margin: 10px auto;
}
.delForm {
	display: inline;
}
