.thumbnail {
	padding: 0;
}
.thumbnail img {
	width: 100%;
	max-height: 570px;
}
.img-thumbnail {
	padding: 0;
}
.img-thumbnail img {
	height: 300px;
	width: 100%;
}
.thumbnail .caption {
	padding: 9px;
}
.mar {
	margin-top: 80px;
}
form {
	width: 30%;
	margin: 10px auto;
}
.delForm {
	display: inline;
}
nav {
	background-color: #7952b3;
}
.navbar-dark .navbar-nav .nav-link {
	color: #e1dee4;
}
.navbar-dark .navbar-nav .nav-link:hover {
	color: #fff;
}
/*  Maps */
#map {
	height: 400px;
	width: 100%;
}
